extend layout

block content
  h1 Sample app
  
  p This is an example app that demonstrates the wrapping that occurs
  
  
  p The installed jade version is <tt>#{ jadeVersion }</tt>

  h2 Sample Jade
  pre #{ sampleJade }
  
  h2 Jade as HTML (done on server)
  pre #{ sampleHTML }
  
  //- the js that fills this in is in public/js/main.js
  h2 Jade as HTML (rendered in client)
  pre#rendered_in_client
    | ERROR - this should be replaced by the rendered content
            
  h2 Compiled Jade client function
  pre #{ sampleFunction }
  
  h2 AMD wrapped compiled Jade client function
  pre #{ sampleAMD }

  h2 AMD wrapped Jade runtime
  pre #{ jadeRuntimeAmdString }